<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active{
	background-color: #4CAF50;
}
</style>
<ul>
  <li><a href="http://localhost:3000">Home</a></li>
  <li><a href="http://localhost:3000/news/index">News</a></li>
  <li><a href="http://localhost:3000/contact/index">Contact</a></li>
  <li><a href="http://localhost:3000/about/index">About</a></li>
</ul>
<style>
input[type=submit]
{
	color: white;
	background-color: #4CAF50;
	margin: 4px 2px;
	padding: 16px 32px;
	border: solid;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
	position: fixed;
	right:    0;
	bottom:   0;

}

input[type=submit1]
{
	color: white;
	background-color: #4CAF50;
	margin: 4px 2px;
	padding: 16px 32px;
	border: solid;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
	position: fixed;
	bottom:   0;

}
body {
	background-color:black;
	 }
h1	 {
	color:red;
	font-size: 350%;
	text-align: center;

	 }
p    {
	color:blue;
	text-align:center;
	font-size: 200%;
	 }
</style>
</head>

<body background="/pizzabckg.jpg">
<body>
<h1>Uncle Joe's Pizza King</h1>
<p>Welcome to Uncle Joe's Pizza!</p>
<img src="/pizzaking.gif" alt="Pizza King" style="width:200px;height:200px;" align="top">
</body>


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

</style>
</head>
<body>
<table  style="width:35%">
  <tr>
    <th style="width:20%" bgcolor="FF0000">Restaurant</th>
    <th style="width:20%" bgcolor="FF0000">Best Pie Sold</th>
    <th style="width:20%" bgcolor="FF0000">Best 5 All-Time Selling Pies!</th>
 </tr>
  <tr>,
    <td bgcolor="#ffffff">Bad Juju's Pizza</font></td>
    <td bgcolor="ffff00">Bad</td>
    <td bgcolor="#ffffff">1.No Name pizza @ Harry Garry's - 112,901</td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">Harry Garry's Pizza Pie</td>
    <td bgcolor="ffff00">Harry's</td>
    <td bgcolor="#ffffff">2.Steak and Cheese @ Mike's Pies - 74,894</td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">Hoang's Pizzeria</td>
    <td bgcolor="ffff00">Fish</td>
    <td bgcolor="#ffffff">3.Bad @ Juju's - 37,751</td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">Little Roman's</td>
    <td bgcolor="ffff00">Pepperoni</td>
    <td bgcolor="#ffffff">4.Pepperoni @ Little Roman's - 37,746</td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">Mike's Pies</td>
    <td bgcolor="ffff00">Steak and Cheese</td>
    <td bgcolor="#ffffff">5. Fish @ Hoang's - 37,321</td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">Poker Cards</td>
    <td bgcolor="ffff00">Meatser</td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">The Cicilian's</td>
    <td bgcolor="ffff00">Funky Medina</td>
  </tr>
   <tr>
    <td bgcolor="#ffffff">Tiny Pizza's</td>
    <td bgcolor="ffff00">Sweet</td>
  </tr>
</table>
<br />
<br />
<body text="silver">
	<form action="demo_form.asp">
	 Name: <input type="text" size="60"> <br />
	 Address_Num: <input type="text" size="60"><br>
	 Address_Name: <input type="text" size="60"><br>
	 <input type="submit" value="Order Pizza">
	 </form>
</body>
</html>
